.text-center{
  text-align: center;
}

.bg-lavender{
  background: lavender;
  width: 350px;
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}